# Core
flask
gunicorn

# Flask extensions
flask_sqlalchemy
flask_login
flask_wtf
flask_cors
flask_dance
flask_migrate
flask_mail
flask_limiter
flask_bcrypt
flask_restful

# OAuth & autenticazione
authlib
oauthlib
python-dotenv
email-validator

# Utilità & compatibilità
requests
bcrypt
passlib
itsdangerous
jinja2
werkzeug
markupsafe
blinker
click
greenlet
sqlalchemy
typing-extensions
